@import "./assets/styles/page.scss";
@import "./assets/styles/button.scss";

html, body {
  width: 100%;
  height: 100%;
}

// preload button icon

body::after {
  $types: "";

  @each $type in (play, help, exit, accept, reject, verify) {
    $types: #{$types} url(./assets/images/button-icon/#{$type}.svg);
  }

  content: $types;
  display: none;
}
