@import "./styles/page.scss";
@import "./styles/button.scss";

// preload button icon

body::after {
  $types: "";

  @each $type in (play, help, exit, accept, reject, verify) {
    $types: #{$types} url(./images/button-icon/#{$type}.svg);
  }

  content: $types;
  display: none;
}
