.board-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.relati-board {
  & {
    position: relative;
  }

  svg,
  div {
    position: absolute;
  }

  div {
    width: 100%;
    height: 100%;
  }
}
